.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.editorconfig
/build
/out
*.iml
*.ipr
*.iws
/inspectionProfiles
._.DS_Store
.vscode
.ftpconfig
target
*.log
.settings
.project
.classpath
/repos
/.gradle
/.svn
/.settings
/bin
/logs
/cookies.sqlite
/lock.lck
/.classpath
/.project
/runing.lck
/log
*/.DS_Store
.DS_Store
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes
bin
src/main/webapp/SESSION.ser
src/main/webapp/SESSIONS.ser
/.externalToolBuilders
